DATABASE_URL=postgres://nivarak:nivarak_dev@localhost:5432/nivarak_db

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

PORT=3000
NODE_ENV=development
OTP_DEV_MODE=true