DATABASE_URL=postgres://nivarak:nivarak_dev@localhost:5432/nivarak_db

COGNITO_USER_POOL_ID=ap-south-1_xxxxxxxxx
COGNITO_CLIENT_ID=your_cognito_app_client_id
AWS_REGION=ap-south-1

PORT=3000
NODE_ENV=development